<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sensor Creator Page</title>
</head>
<body>
  <body>
    <h1>Choose Sensor</h1>
    <form method="POST" action="/">
      <label>Device:</label>
      <select type="text" name="name">
        <option value="sht711">SHT711</option>
        <option value="tmp82">TMP82</option>
        <option value="bma280">BMA280</option>
        <option value="custom-1">Custom-1</option>
      </select>
      <input type="submit" value="Configure Sensor">
    </form>

</body>
</html>