<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>SHT711 Config</title>
</head>
<body>
<form method="POST" action="/config">
    <label>Device:</label>
    <input type="text" name="name" value="sht711" readonly="true">

    <label>Alias:</label>
    <input type="text" name="alias">

    <label>Interface:</label>
      <select type="text" name="type_name">
        <option value="i2c">I2C</option>
     </select>
      <input type="submit" value="Configure Interface">
</form>
</body>
</html>