<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WTF ex1</title>
</head>

<body>

    <form action="/" method="POST">
         <fieldset>
            <legend>Contact Form</legend>
                <div>{{ form.username.label }}: {{ form.username }}</div>
                <div>{{ form.age.label }}: {{ form.age }}</div>
                <div>{{ form.accept_rules.label }}: {{ form.accept_rules }}</div>
                <div>{{ form.sub_mittor.label }}: {{ form.sub_mittor }}</div>
         </fieldset>
      </form>

</body>
</html>